body{
	border: solid gray 20px;
	padding: 20px;
	width: 700px;
	margin: 20px auto;
	font-family: slabo lato;
}

.posting{
	font-family: lato;
	font-size: 18px;
	color: #33C5F8;
}

h4{
	font-family: slabo;
	font-size: 24px;
}

.quote{
	border-left: solid gray  3px;
	padding: 5px;
}

.date{
	letter-spacing: 2 rem;
	font-size: 18px;
	font-family: slabo; 
}